[ArchivesSpace]
baseurl = http://localhost:8089
username = admin
password = admin

[AWS]
region_name = us-east-1
access_key = 123456789
secret_key = 987654321
bucket = rac-iiif

[DART]
workflow_json = /path/to/workflow.json

[Directories]
root_dir = /path/to/files
tmp_dir = /path/to/files

[Ignore]
ignore_list = /path/to/ignore_list.txt
