[ArchivesSpace]
baseurl = http://localhost:8089
username = admin
password = admin
repository = 2

[AWS]
region_name = us-east-1
access_key = 123456789
secret_key = 987654321
bucket = rac-iiif

[DART]
dart = ./dart-runner
workflow_json = /path/to/workflow.json
job_params_file = /path/to/job_params.json

[Directories]
root_dir = /path/to/files
tmp_dir = /path/to/files

[Other]
processed_list = /path/to/processed_list.txt
